/**********************************/
//		Events List
/**********************************/

@import 'constans/style-fonts';
@import 'constans/style-colors';
@import 'constans/sass-flexbox.scss';


.lbl-event-ended{
	display: none;
}

.ctn-inner-full{

	display: flex;
	flex-wrap: wrap;
	width: 100%;

	&-search{

		display: flex;
		width: 100%;
		justify-content: center;
		flex-wrap: wrap;

		.ctn-search-btn{
			position: relative;
			width: auto;
		}

		.btn-search-filter{
			position: absolute;
			right: -40px;
			top: 6px;
			border: solid black;
			border-width: 0 3px 3px 0;
		    display: inline-block;
		    padding: 8px;
		   	cursor: pointer;
		    transform: rotate(45deg);
		   	-webkit-transform: rotate(45deg);
		   	transition: transform 500ms;
   		}

   		.btn-search-filter.open{
   			transform: rotate(-135deg);
    		-webkit-transform: rotate(-135deg);
    		top: 9px;
		   	transition: transform 500ms;
   		}



   		.ctn-prev-events{
   			flex-basis: 100%;
	   		font-size: .7rem;
	   		display: flex;
    		flex-wrap: wrap;
    		justify-content: center;
    		margin-top: 1em;
    		text-transform: uppercase;
   			
	   		.btn-prev-events{
	   			font-size: .65rem;
	   			text-decoration: underline;
    			font-style: oblique;
    			cursor: pointer;
    			margin-left: 5px;

    			&:hover{
    				color: $blue-bg-1;
    			}
	   		}

   		}

	}


	.ctn-categories {
		width: 100%;
		display: none;

		.ctn-categories-inner{
			margin-top: 2em;
		    flex-basis: 100%;
		    display: flex;
		    justify-content: space-around;
		    flex-wrap: wrap;
		    background-color: white;

		    svg{
			// .btn-category{
				width: 80px;
			    height: 80px;
			    transition: 500ms ease-out;

				&:hover {
					-webkit-transform: scale(1.1);
					transform: scale(1.1);
					circle{
						filter: url('#darken');
					}
				}

			}


			.selected{
				-webkit-transform: scale(1.1);
				transform: scale(1.1);
				circle{
					filter: url('#darken');
				}
			}

			.btn-category{
				flex-basis: 50%;
				cursor: pointer;
				display: flex;
			    justify-content: center;
			    padding: 1.2em;
			}
		}

	}

}

.search-arrow{

}



.search { 
	position: relative; 
}

.search input { 
	width: 250px;
	height: 40px;
	text-indent: 30px;
	border-radius: 5px;
	border: 1px solid $gray-bg-1;
}

.search .fa-search {
	color: $gray-bg-1;
    position: absolute;
    top: 12px;
    right: 15px;
    font-size: inherit;
    cursor: pointer;
}




.ctn-events{

	.noslide-container {
		display: flex;
		justify-content: space-around;
		margin: 40px 0px;
		width: 100%;
    	flex-wrap: wrap;


	.noslide {
		border: 1px solid #95989A;
		max-width: inherit;
		flex-basis: 100%;
		margin-bottom: 3em;

		p {
			padding: 20px;
		}

		img {
				max-width: 100%;
			}
		.img-slide-container {
			width: 100%;
			height: 250px;
			background-size: cover;
			position: relative;

			&-1 {
				background-image: url("../img/placeholder/seminar.jpg");
			}

			&-2 {
				background-image: url("../img/placeholder/employer.jpg");
			}

			&-3 {
				background-image: url("../img/placeholder/ipad.jpg");
			}

			.filter {
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;

				&-1 {
					background-color: rgba(255, 26, 71, 0.6);
				}

				&-2 {
					background-color: rgba(212, 0, 250, 0.6);
				}

				&-3 {
					background-color: rgba(255, 145, 0, 0.6);
				}

				.info {
					width: 100%;
					background-color: rgba(0, 0, 0, 0.6);
					color: white;
					padding: 20px;

				}
			}

			.ctn-event-edit{
				display: none;
				position: absolute;
				top: 1em;
			    right: 1em;
			    font-size: 1.4em;
			    color: white;

			    .fa{
			    	cursor: pointer;
			    }
			}

				
		}

		.noslide-actions {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 100%;
			border-top: 1px solid #95989A;
			height: 40px;

			div {
				width: 49%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
	}

	.slideshow-container, .dot {
		display: none;
	}
}



@media screen and ( min-width: 800px ) {


	.ctn-inner-full{

		// display: flex;
		// flex-wrap: wrap;
		// width: 100%;

		&-search{

			// display: flex;
			// width: 100%;
			// justify-content: center;

			// .ctn-search-btn{
			// 	position: relative;
			// 	width: auto;
			// }

			.btn-search-filter{
				display: none;
				// position: absolute;
				// right: -40px;
				// top: 5px;
				// border: solid black;
				// border-width: 0 3px 3px 0;
			 //    display: inline-block;
			 //    padding: 8px;
			 //    transform: rotate(45deg);
			 //   	-webkit-transform: rotate(45deg);
			 //   	cursor: pointer;
	   		}

		}


		.ctn-categories {
		    display: flex;

		.ctn-categories-inner{
		    flex-wrap: nowrap;

		}

	}


	}




	.ctn-events{

		.noslide-container {

			display: flex;
			justify-content: space-around;
			margin: 40px 0px;
			width: 100%;
	    	flex-wrap: wrap;


			.noslide {
				width: 25%;
				flex-basis: 45%;

				// .noslide-actions {
				// 	display: flex;
				// 	justify-content: space-around;
				// 	align-items: center;
				// 	width: 100%;
				// 	border-top: 1px solid #95989A;
				// 	height: 40px;

				// 	div {
				// 		width: 49%;
				// 		display: flex;
				// 		justify-content: center;
				// 		align-items: center;
				// 	}
				// }
			}

		}
		
	}

}




@media screen and ( min-width: 1100px ) {

	.ctn-inner-full{

		&-search{

			// display: flex;
			// width: 100%;
			// justify-content: center;
			// flex-wrap: wrap;

			.ctn-search-btn{
				// position: relative;
				// width: auto;
			}

			.btn-search-filter{
				// position: absolute;
				// right: -40px;
				// top: 6px;
				// border: solid black;
				// border-width: 0 3px 3px 0;
			 //    display: inline-block;
			 //    padding: 8px;
			 //   	cursor: pointer;
			 //    transform: rotate(45deg);
			 //   	-webkit-transform: rotate(45deg);
			 //   	transition: transform 500ms;
	   		}

	   		.btn-search-filter.open{
	   			// transform: rotate(-135deg);
	    		// -webkit-transform: rotate(-135deg);
	    		// top: 9px;
			   	// transition: transform 500ms;
	   		}



	   		.ctn-prev-events{
	   			position: absolute;
	   			right: 15px;
	   			
		   		.btn-prev-events{
		   			// font-size: .65rem;
		   			// text-decoration: underline;
	    			// font-style: oblique;
	    			// cursor: pointer;
	    			// margin-left: 5px;
		   		}

	   		}

		}


		// .ctn-categories {
		// 	width: 100%;
		// 	display: none;

		// 	.ctn-categories-inner{
		// 		margin-top: 2em;
		// 	    flex-basis: 100%;
		// 	    display: flex;
		// 	    justify-content: space-around;
		// 	    flex-wrap: wrap;
		// 	    background-color: white;

		// 	    svg{
		// 		// .btn-category{
		// 			width: 80px;
		// 		    height: 80px;
		// 		}

		// 		.btn-category{
		// 			flex-basis: 50%;
		// 			cursor: pointer;
		// 			display: flex;
		// 		    justify-content: center;
		// 		    padding: 1.2em;
		// 		}
		// 	}

		// }

	}


	.ctn-events{

		.noslide-container {


			.noslide {
				flex-basis: 30%;
			}

		}
		
	}

}



