/**********************************/
//		Partners
/**********************************/

@import 'constans/style-fonts';
@import 'constans/style-colors';
@import 'constans/sass-flexbox.scss';



.view-partners .ctn-text-pages h3{
	display: none;
}

.ctn-inner-partners {
	width: 100%;
	margin-bottom: 30px;
	&-element {
	}
	&-staff {
		margin-top: 30px;
	}
	& img {
		width: 100%;
		margin-bottom: 30px;
	}
}

.logo-about-us {
	width: 250px;
	margin: 0 auto;
}

.blue-divider{
	width: 100vw;
	height: 30px;
	margin: 0 0 40px -20px;
	background: $blue-bg-3;
}
.ctn-inner-partners-1 {
	display: none;
}

@media screen and ( min-width: 800px ) { 
	.ctn-inner-partners-1 {
		display: -webkit-box;
	    display: -moz-box;
	    display: -webkit-flexbox;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	}

	.view-partners .ctn-text-pages h3{
		display: block;
		margin: 2em 0 1em 0;
	}

	.ctn-inner-partners { 
		
	    & img {
	    	width: 400px;
	    }
	    & .ctn-inner-staff{
	    	& img {
	    		width: 100%;
	    	}
	    }
	    &-1{
			flex-direction: row-reverse;
			-webkit-flex-direction: row-reverse;
			-moz-flex-direction: row-reverse;
			& img{
				margin: 0 0 0 40px;
			}
		}
		&-2{
			& img {
				margin: 0 40px 0 0;
			}
		}
		&-3{
			flex-direction: row-reverse;
			-webkit-flex-direction: row-reverse;
			-moz-flex-direction: row-reverse;
		}
		&-4{
			flex-direction: column;
			-webkit-flex-direction: column;
			-moz-flex-direction: column;
		}
	}
	.logo-about-us img {
		width: 200px !important;
	}

	.blue-divider{
		height: 50px;
		margin: 0px 0 3em calc(-20% + 27px);
	}
}


@media screen and ( min-width: 1100px ) { 

	.blue-divider{
		margin: 0px 0 40px calc(-20% + 54px);
		
	}
}


@media screen and ( min-width: 1600px ){
	.blue-divider{
		width: 100%;
		margin: 0px 0 3em 0;
	}
}
