/**********************************/
//		Main style
/**********************************/

$content-max-widht: 1600px;
$header-height: 40px;
$view-padding: 60px;


@import 'constans/style-fonts';
@import 'constans/style-colors';
@import 'constans/sass-flexbox.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $primary-font;
	font-size: 16px;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
}

h1 { font-size: 2em; font-family: $headline-font }
h2 { font-size: 1.5em; font-family: $headline-font }
h3 { font-size: 1.3em; font-family: $headline-font }
h4 { font-size: 1em; font-family: $headline-font }
h5 { font-size: 0.8em; font-family: $headline-font }
h6 { font-size: 0.7em; font-family: $headline-font }
p { font-size: 1em; font-family: $primary-font }


body {
	width: 100vw;
	height: 100vh;
	font-family: $primary-font;
	overflow-x: hidden;

}
button {
	text-transform: uppercase;
	border: 2px solid $blue-bg-1;
	color: $blue-bg-1;
	padding: 1em;
	font-family: $primary-font;
	background: #FFFFFF;
	margin: 10px 0;
	text-align: center;
	font-size: .8em;
	outline: none;
	&:hover {
		background: $blue-bg-4;
		border: 2px solid $blue-bg-4;
		color: #FFFFFF;
	}
}

input {
	min-height: 25px;
    outline: none;
    border: 1px solid $gray-bg-1;
    padding: 0 8px;
}

nav {
	@include display-flex();
	@include flex-direction(column);
	@include justify-content(flex-end);
	@include align-items(center);
	background: $backgound-color-header;
	display: none;
	white-space: nowrap;
	box-shadow: 0 0 5px #888888;
	& > * {
		margin: 10px 20px;
		cursor: pointer;
	}
	& .menu-tab {
		color: $gray-bg-1;
	}
}

.menu-profile {
	display: none;
}

.ico-menu {
	@include display-flex();
	@include justify-content(flex-end);
	@include align-items(center);
	margin: 12px 0 20px 0;

}

.ico-menu-close, .menu-admin, .menu-logout{
	display: none; 
}

.flex {
	@include display-flex();
	@include justify-content(center);
	@include align-items(center);
}

header {
	background: $backgound-color-header;
	height: $header-height;
	width: 100vw;
	box-shadow: 0 0 5px #888888;
	z-index: 9;
}

footer { 
	background: $backgound-color-footer;
	width: 100vw;
	box-shadow: 0 0 5px #888888;
	z-index: 9;
	& .container {
		padding: 2em;
	}
	& .social-info-footer {
		color: #FFFFFF;
		text-align: center;
    	font-size: 2.5em;
    	& .fa {
    		margin: .5em 1em;
    		font-size: 40px;
    	}
    	& span {
    		display: block;
     	}
	}
	& .contact-info-footer {
		color: #FFFFFF;
		text-align: center;
		margin-bottom: 1em;
		& input {
			display: none;
		}

	}
}

.header-wrapper {
	position: relative;
	height: 100%;
	width: 100vw;
	@include display-flex();
	@include justify-content(center);
}

.wrapper-main {
	background: $backgound-color;
	width: 100vw;
	height: 100vh;
	position: relative;
}

.view {
	width: 100vw;
	height: 100vh;
	display: none;
	padding-top: $view-padding;
	@include display-flex();
	@include justify-content(center);
	flex-direction: column;
    justify-content: space-between;
    & .container {
		padding-bottom: 20px;
		width: auto;
	}
	& h1 {
		margin-bottom: 30px;
	}
}

.logo-wrapper {
	background-image: url('../img/tech_logo.png');
	background-size: 100% 100%;
	width: 80px;
	height: 80px;
	position: absolute;
	top: -20px;
	display: none;
}

.logo-start-position {
	width: 200px;
	height: 200px;
	top: calc(50vh - 100px);
	left: calc(50% - 100px);
}
.header-start-position {
	top: -$header-height;
	position: absolute;
}

.container {
	width: 100%;
	max-width: $content-max-widht;
	margin: 0 20px;
	position: relative;
	& .ctn-inner {
		text-align: center;
		& p {
			text-align: left;
		}
	}
}

.link{
	cursor: pointer;
}

.load-symbol-wrapper {
	@include display-flex();
	@include justify-content(center);
	@include align-items(center);
	width: 100vw;
	height: 100vh;
	background: #FFFFFF;
}

@media screen and ( min-width: 800px ) {
	.ctn-inner { 
		display: -webkit-box;
	    display: -moz-box;
	    display: -webkit-flexbox;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	}
	nav {
		height: 100%;
		display: -webkit-box;
	    display: -moz-box;
	    display: -webkit-flexbox;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
		flex-direction: -webkit-row;
	    flex-direction: -moz-row;
	    flex-direction: -webkit-row;
	    flex-direction: -ms-row;
	    flex-direction: -webkit-row;
	    flex-direction: row;
		box-shadow: none;
		& :last-child {
			margin-right: 0;
		}
	}
	.ico-menu {
		display: none;
	}
	
	footer { 
		& .container {
			padding: 1em;
		}
		& .social-info-footer {
			
	    	& .fa {
	    		margin: .5em 1em;
	    	}
	    	& span {
	    		display: block;
	    		&:nth-child(1) {
	    			position: absolute;
				    left: 0;
				    top: 20px;
	    		}
	    		&:nth-child(2) {
	    			position: absolute;
				    right: 0;
				    top: 20px;
	    		}
	     	}

		}
		& .contact-info-footer {
			margin-bottom: 0;
			& input {
				display: block;
				margin: 1em auto;
				border: none;
				width: 300px;
			}

		}
	}
	.container {
		& .ctn-inner {
			text-align: left;
			& h2 {
				text-align: left;
			}
			& button {
				margin-top: 30px;
			}
			
		}
	}
	
	
}

@media screen and ( min-width: 1600px ) {
	.container {
		margin: 0 auto;
	}
	.view {
	    & .container {
			width: 100%;
		}
	}
}

