/**********************************/
//		Event
/**********************************/

@import 'constans/style-fonts';
@import 'constans/style-colors';
@import 'constans/sass-flexbox.scss';




.event-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 30px 0px;


}

.event-image {
	object-fit: contain;
	max-width: 100%;
}

.event-category-tags, .event-address {
	color: #95989A;
}

.event-address {
	text-decoration: underline;
}



.event-info {
	width: 100%;
	margin-top: 30px;

	h4 {
			display: inline-block;
			width: 49%;
		}

		.event-price {
			text-align: left;
		}
		.event-date {
			text-align: right;
		}

		p {
			margin-top: 20px;
		}

		.btn-event-book {
			min-width: 50%;
			margin: 25px 25%;
		}
}

.event-partners {
	display: block;
}

.event-partner-logo {
	width: 150px;
	height: 150px;
	object-fit: contain;

}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}




.noslide-container {
	display: none; 	
}


@media screen and ( min-width: 1100px ) {

	.event-container {
		flex-direction: row;
	}

	.event-image{
		width: 50%;
		max-height: 450px;
	}

	.event-info {
		max-width: 50%;
		padding-left: 40px;
		margin-top: 0px;

		.btn-event-book {
			min-width: 30%;
			margin: 25px 0px;
		}

		
	}


	.event-partners {
		display: flex;
		justify-content: space-around;
	}

	.event-partner-logo {
		width: 200px;
		height: 200px;
	}


	.noslide-container {
		display: flex;
		justify-content: space-around;
		margin-bottom: 40px;

	.noslide {
		border: 1px solid #95989A;
		max-width: 30%;

		p {
			padding: 10px;
		}

		img {
			max-width: 100%;
		}

		.noslide-actions {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 100%;
			border-top: 1px solid #95989A;
			height: 40px;

			div {
				width: 49%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
	}

	.slideshow-container, .dot {
		display: none;
	}
}