

/* GRAY BAGROUND COLOR */
$backgound-color: #FFFFFF;

/* HEADER BAGROUND COLOR */
$backgound-color-header: #FFFFFF;
/* FOOTER BAGROUND COLOR */
$backgound-color-footer: #FFFFFF;

/* BUTTON COLORS */
$primary-btn-color: #4CB897;
$secondary-btn-color: #EE445E;
$primary-btn-font-color: #FFFFFF;

/* BORDER COLORS */
$border-gray: #CCCCCC;

/* FONT COLORS */
$primary-font-color: #444444;